/*CSS Reset*/

* {
	margin-right: 0;
	padding: 0;
	box-sizing: border-box;
}

body {

font-family: 'Raleway', sans-serif;
font-family: 'Roboto Serif', sans-serif;
}

#bod {
	border: 10px solid white;
	height: 200px;
	width: 200px;
}